services:
  postgres:
    image: postgres:16.4
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=hbs_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
